.username {
  color: var(--color-white);
  font-size: var(--font-size-16);
  display: block;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.header img {
  width: 110px;
  height: 110px;
}

.header div:nth-child(odd) {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.header div:last-child {
  background: rgba(255, 255, 255, 0.12);
  padding: 12px 32px;
  border-radius: 50px;
  box-shadow: 0px 2.20372px 2.20372px 1.10186px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header span {
  color: var(--color-white);
}

.header .currentRatingText {
  color: var(--color-white);
  font-size: var(--font-size-16);
}

.header .rating {
  font-size: 100px;
  font-weight: var(--font-weight-800);
}

.levelText {
  font-size: var(--font-size-9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.levelText[data-name="gold"]::after {
  font-size: var(--font-size-22);
  content: "GOLD";
  font-weight: var(--font-weight-900);
  letter-spacing: 0.7px;
  background: var(--color-gradient-gold);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  filter: drop-shadow(2.20372px 2.20372px 3.64753px rgba(0, 0, 0, 0.3));
}

.levelText[data-name="silver"]::after {
  font-size: var(--font-size-22);
  content: "SILVER";
  font-weight: var(--font-weight-900);
  letter-spacing: 0.7px;
  background: var(--color-gradient-silver);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  filter: drop-shadow(4px 4px 6.62069px rgba(0, 0, 0, 0.3));
}

.levelText[data-name="black"]::after {
  font-size: var(--font-size-22);
  content: "BLACK";
  font-weight: var(--font-weight-900);
  letter-spacing: 0.7px;
  background: var(--color-gradient-black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  filter: drop-shadow(4px 4px 6.62069px rgba(74, 74, 74, 0.3));

  flex-grow: 0;
}

.container {
  background: var(--color-white);
  padding: 18px;
  border-radius: 24px;
}

.container h1 {
  font-size: 20px;
  color: var(--color-black);
  font-weight: var(--font-weight-600);
  margin-bottom: 8px;
}

.subtitle {
  font-size: var(--font-size-14);
  color: var(--color-1);
  margin-bottom: 17px;
}

.card {
  background: var(--color-2);
  border-radius: 16px;
  padding: 13px 19px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 170px;
}

.cardContent {
  max-width: 75%;
}

.cardContent h2 {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-600);
  margin: 0 0 7px;
}

.cardContent p {
  font-size: var(--font-size-12);
  color: var(--color-1);
  margin: 0 0 10px;
}

.list {
  padding-left: 19px;
}

.list li {
  font-size: var(--font-size-12);
  color: var(--color-black);
  margin-bottom: 4px;
}

.card img {
  position: absolute;
  top: 0;
  right: 0;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 13px;
  right: 15px;
}

.score span {
  color: var(--color-3);
  line-height: 1;
}

.score span:first-child {
  font-size: 40px;
  font-weight: var(--font-weight-700);
}

.btn {
  background: linear-gradient(
    90deg,
    #301b02 0%,
    #6b6761 60.58%,
    #b7b7b7 81.73%,
    #1e1e1e 100%
  );
  color: var(--color-white);
  padding: 12px 24px;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 24px;
}
