:root {
  --color-white: #fff;
  --color-black: #000;
  --color-1: #6d6b6b;
  --color-2: #f0f0f0;
  --color-3: #198552;
  --color-4: #b3b3b3;
  --color-5: #21a038;
  --color-6: #1e1e1e;
  --color-7: #e9edf1;
  --color-8: #7a7a7a;
  --color-9: #a0a0a0;
  --color-10: #1b8c31;
  --color-11: #b0b0b0;

  --color-gradient-gold: linear-gradient(
    90deg,
    #bd8e59 0%,
    #e7c174 35.07%,
    #ffe095 51.39%,
    #bc8d58 72.22%
  );
  --color-gradient-silver: linear-gradient(
    90deg,
    #383838 0%,
    #807b7b 48.56%,
    #bdbdbd 71.15%,
    #363535 100%
  );
  --color-gradient-black: linear-gradient(
    90deg,
    #000000 0%,
    #4b4b4b 35.07%,
    #acacac 51.39%,
    #000000 72.22%
  );

  --font-weight-900: 900;
  --font-weight-800: 800;
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-400: 400;

  --font-size-48: 48px;
  --font-size-40: 40px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-9: 9px;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-black);
}

button {
  outline: none;
  border: 0;
  background: transparent;
}

body {
  background: linear-gradient(
    192.1deg,
    #004c42 1.08%,
    #1c9b63 21.87%,
    #52bf4a 34.82%,
    #24ad81 49.18%,
    #026e95 68.31%,
    #11191c 100%
  );
  padding: 16px 8px;
  min-height: 100dvh;
}

html {
  min-height: 100%;
}

.container {
  background: var(--color-white);
  padding: 14px 16px;
  border-radius: 24px;
}

.container h1 {
  font-size: 20px;
  color: var(--color-black);
  font-weight: var(--font-weight-600);
  margin-bottom: 8px;
}

.username {
  color: var(--color-white);
  font-size: var(--font-size-16);
  display: block;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.backButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 100px;
  width: 33px;
  height: 33px;
  margin-left: 4px;
}
